.btn{
  display: flex;
  align-items: center;
  align-content: center;
  color: $button_text_color;
  background-color: $button_color;
  border-radius: $border_radius;
  border: none;
  margin: 10px 0 ;
  padding: 8px 15px;
  cursor: pointer;
  width: max-content;
  font-weight: 700;
  font-size: 16px;
  @include transition;
  &:hover{
    background-color: $button_color_hover;
    color: $button_text_color_hover;
    a{
      color: $button_text_color_hover;
    }
  }
  a{
    color: $button_text_color;
  }
  &.disabled{
    cursor: not-allowed;
    background-color: $border_color;
    pointer-events: none;
  }
  .icon{
    margin-right: 5px;
  }
}
